# MongoDB connection string for production or development
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER_URL/DATABASE_NAME?retryWrites=true&w=majority

# JWT secret key for signing access tokens
JWT_SECRET_KEY=242**

SYSTEM_IPV4=
PORT=8000
GROQ_API_KEY=gsk_**
